<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Porneste_Layers</Name><AddInID>{77e32708-efc9-4c0c-b5df-9c8c3e300f5d}</AddInID><Description>Porneste Layers din Table of Contents</Description><Version>1.0</Version><Image>Images\switch-on.png</Image><Author>rnicolescu</Author><Company>Blom</Company><Date>07/05/2022</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="porneste_layers_addin.py" namespace="porneste_layers_addin"><ArcMap>
    <Commands>
        <Button caption="Layers_On" category="Porneste_Layers" class="LayersOn" id="porneste_layers_addin.button" image="Images\switch-on.png" message="Layers_On" tip="Layers_On"><Help heading="Layers_On">Layers_On</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Layers_On" category="Porneste_Layers" id="porneste_layers_addin.toolbar" showInitially="true"><Items><Button refID="porneste_layers_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Layers_On" category="Porneste_Layers" id="porneste_layers_addin.menu" isRootMenu="true" isShortcutMenu="false" separator="false"><Items /></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>